<!DOCTYPE html>
<html>
<head>
	<title>Scripter</title>
<style>
    /*
	Side Navigation Menu V2, RWD
	===================
	License:
	https://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1 {
  font-size:3em;
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-size:1em;
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;

  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}
.typewriter h2{
  color:white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .0em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 20% }
}


/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  20% { border-color: orange; }
}
form{
  display: block;
  position: relative;
  margin: auto;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 100px;
  width: 500px;
  text-align: center;


}

form input{
  height: 10px;
   font-family: 'Open Sans', sans-serif;
  border: none;
  border-bottom: 2px solid #DDD;
	border-radius: 25px;
  padding: 20px 35px;
  color:#ABB1B4;
  width: 120px;
	font-size: 1em;

	border: 2px solid #185875;
	  background :#323C50;
}

button, input{
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
}

form input:focus{
  width: 300px;
	outline: 0;
}

button{
  height: 50px;
  border: none;
  border-radius: 25px;
  padding: 10px 25px;
  background: #FB667A;
  color: #FFF;
  text-transform: uppercase;
  font-size: 0.75em;
  cursor: pointer;
	opacity: 0;
}

form button:hover{
  background: #FFF842;
}

form input:focus ~ button{
  display: inline-block;
	opacity: 1;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }


</style>
</head>
<body>
<h1><span class="blue">&lt;</span>Scripter<span class="blue">&gt;</span> <span class="yellow">Descripter</span></h1>
<div class="typewriter">
    <h2>Decoding Dalal Street</h2>
</div>
<form class="searchbox"  method="post" action="find_script" autocomplete="off">
  	<input type="text" placeholder="Search here..." name="script_name">
	<button type="submit" >Search</button>
</form>

<table class="container">
	<thead>
		<tr>
			<th><h1>Stock</h1></th>
			<th><h1>Open</h1></th>
			<th><h1>High</h1></th>
			<th><h1>Low</h1></th>
			<th><h1>Close</h1></th>
		</tr>
	</thead>
	<tbody>
    {% for script_data in data %}
		<tr>
            {% for value in script_data%}
				<td>{{value}}</td>
            {% endfor %}
		</tr>
    {% endfor %}
	</tbody>
</table>
</body>
</html>